<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
    {% for p in p_list %}
        <a target="_blank" href="{% url 'product-info' p.pk %}"><p>{{ p.name }} {{ p.quantity }}</p></a>
        <form action="{% url 'add-to-cart' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="pk" value="{{ p.pk }}">
            <input type="text" name="quantity" value="1">
            <button type="submit">
                add to cart
            </button>
        </form>
    {% empty %}
        there are no product.
    {% endfor %}
</body>
</html>